RewriteEngine On

# Allow access to existing files/directories (like css, images)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to Upload.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]