.ui-datepicker-header {
  background-color: #d6d6d6 !important;
  color: black !important;
}

#ui-datepicker-div {
  background-color: white !important;
}

#ui-datepicker-div {
  background-color: black !important;
}

th {
  color: white;
  background: #292929;
}

td>a {
  background-color: #d6d6d6 !important;
  color: black !important;
}

.ui-datepicker-today {
  background-color: yellow !important;
}
