@media (max-width: 520px) {

  table th:nth-child(4),
  table td:nth-child(4) {
    display: none;
  }
}

@media (max-width: 380px) {

  table th:nth-child(3),
  table td:nth-child(3) {
    display: none;
  }
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}


.light-theme tbody tr:nth-child(even) {
  background-color: white;
}

.light-theme tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

.light-theme thead,
.light-theme th {
  background-color: black;
  color: white;
}

.tablelink {
  color: white;
}

.light-theme table,
.light-theme .tablelink,
.light-theme .result {
  color: black;
}

thead {
  background-color: white;
}

th {
  color: black;
  padding: 12px 15px;
  text-align: left;
}

td {
  padding: 12px 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #2c2c2c;
}

th {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

td {
  font-size: 0.95rem;
}
