body {
  font-family: Arial;
}

h1, h2 {
  text-align: center;
}

p, h3, h4 {
  padding-left: 10px;
}

.term {
  font-weight: bold;
  color: #d35400;
}

.yearnumber {
  color: gray;
  font-size: 0.9em;
}

.step-name {
  font-weight: bold;
  color: #0056b3;
}

.video-link {
  color: red;
  text-decoration: none;
}

.pdf-link {
  color: darkred;
  text-decoration: none;
}

.html-link {
  color: green;
  text-decoration: none;
}

*{
  background-color: #1e1f21;
  color: whitesmoke;

}
